<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="main">
        <img src="yugoslavia.png" />
        <img src="tito.jpg" /><br>
        <a target="_blank"
            href="https://mk.wikipedia.org/wiki/%D0%88%D1%83%D0%B3%D0%BE%D1%81%D0%BB%D0%B0%D0%B2%D0%B8%D1%98%D0%B0"><button>Yugoslavia</button></a>
        <a target="_blank"
            href="https://mk.wikipedia.org/wiki/%D0%88%D0%BE%D1%81%D0%B8%D0%BF_%D0%91%D1%80%D0%BE%D0%B7-%D0%A2%D0%B8%D1%82%D0%BE"><button>Tito</button></a>
        <h1>Југославија</h1>
        <p>
            Југославија е име што означува три различни но последователни политички ентитети што постоеја во поголемиот
            дел
            од 20. век на Балканскиот Полуостров, а во чии рамки спаѓаа јужнословенските земји (меѓу кои и Македонија),
            со
            исклучок на Бугарија.
        <ul>
            <li>Првата Југославија е кралство формирано во 1918 како Кралство на Србите, Хрватите и Словенците, кое е
                преименувано во Кралство Југославија во 1929 и постои под тоа име сè до 1941 кога земјата беше окупирана
                од
                страна на Силите на Оската.</li>
            <li>Втората Југославија е социјалистичка земја формирана веднаш по Втората светска војна, а од 1943 е
                позната
                како Демократска Федеративна Југославија (ДФЈ), од 1945 како Федеративна Народна Република Југославија
                (ФНРЈ), а потоа од 1963 како Социјалистичка Федеративна Република Југославија (СФРЈ). Во оваа форма таа
                Југославија останува сè до 1991 кога четири од шесте републики што ја формираат целосно се отцепуваат -
                Словенија, Хрватска, Македонија и Босна и Херцеговина.</li>
            <li>
                Третата Југославија го носи името Сојузна Република Југославија (СРЈ) и постои од 1992 до 2003 на
                територијата на Србија (вклучувајќи ги и автономните провинции Војводина и Косово) и Црна Гора. Во 2003,
                името Југославија официјално е укинато и земјата станува лабава унија наречена Србија и Црна Гора.
            </li>
        </ul>
        </p>
    </div>
</body>